/*

ThemeName |-> Highway Mag

*/
@import "../_demo-helper/general";

/* Layout */
$layout_boxed_padding: 15px;

/* Header */
$topbar_height: 29px;

$menu_current_bg_style: '.header-style-2';
$menu_current_bg: transparent;

$header: 'style-2';
$header_height: 55px;

$about_us_text_align: left;

@import "../_demo-helper/helper";

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.site-footer .footer-widgets,
.off-canvas-menu > ul > li > a,
.pagination.bs-links-pagination,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.site-header .topbar .topbar-inner,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.footer-widgets .widget_nav_menu ul.menu li a {
  @include optimize_font;
}

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

body .vc_row-has-fill + .vc_row-full-width + .vc_row > .bs-vc-wrapper > .bs-vc-column > .bs-vc-wrapper {
  padding-top: 0 !important;
}

body.boxed .main-wrap {
  box-shadow: none !important;
}

/* Newsletter */
body .better-newsticker {
  .heading {
	background-color: transparent !important;
	color: #353535;
	text-align: start;

	&:after {
	  display: none;
	}

	&:before {
	  content: '\f105';
	  position: absolute;
	  font: normal normal normal 14px/1 FontAwesome;
	  right: 5px;
	  line-height: 23px;
	}
  }
}

/* Section Heading */
body .section-heading.sh-t2.sh-s2 {
  text-align: center;

  &:before {
	display: none !important;
  }

  .h-text {
	color: #363636 !important;
  }
}

/* Thumbnail 2 */
.listing-item-tb-2 {
  .post-meta {
	text-align: center;
  }
}

/* Site Header */
.site-header {
  .main-menu.menu > li {
	margin: 0 !important;

	& > a {
	  padding: 0 20px !important;
	}
  }
}

/* Pagination */
.bs-pagination.bs-ajax-pagination.more_btn {
  margin-top: 30px;

  .btn-bs-pagination {
	width: 100%;
	line-height: 50px !important;
	border: solid 2px rgba(224, 224, 224, 0.5) !important;
	font-size: 14px !important;
	text-transform: uppercase !important;

	span {
	  color: #636363;
	}

	&.bs-pagination-in-loading,
	&:hover {
	  span {
		color: #FFFFFF !important;
	  }
	}

	&.disabled:hover {
	  border: solid 2px rgba(224, 224, 224, 0.5) !important;

	  span {
		color: #636363 !important;
	  }
	}
  }
}

.pagination.bs-numbered-pagination {
  .page-numbers {
	padding: 0 21px;
	height: 50px;
	line-height: 48px;
	border: solid 2px rgba(224, 224, 224, 0.5);
	font-size: 16px;
	color: #636363;
	letter-spacing: 0.6px;

	&:hover {
	  border-width: 2px !important;
	}
  }
}

/* Modern Grid */
.listing-mg-1-item.listing-item-3 .title,
.listing-mg-1-item.listing-item-4 .title,
.listing-mg-1-item.listing-item-5 .title {
  font-size: 57%;
}

.listing-modern-grid-7 .mg-row-2 .listing-mg-7-item .post-subtitle,
.listing-modern-grid-7 .mg-row-2 .listing-mg-7-item .title {
  font-size: 72%;
}

/* Grid 1 */
.listing-item-grid-1 {
  .post-summary {
	padding-bottom: 0;
	border: none !important;
  }
}

/* Footer */
.site-footer {
  .section-heading {
	margin-bottom: 10px;
  }

  .footer-menu-container {
	margin-bottom: 25px;

	ul.menu.footer-menu {
	  & > li {
		margin-right: 35px;
	  }
	}
  }

  .footer-widgets.light-text {
	.widget_bs-subscribe-newsletter {
	  padding: 0 !important;
	  background-color: transparent;

	  .subscribe-message,
	  .bs-subscribe-newsletter form {
		max-width: 100%;
		text-align: start;
	  }

	  .newsletter-subscribe,
	  .newsletter-email {
		border-radius: 0 !important;
		line-height: 45px;
		height: 45px;
	  }
	}
  }
}