/*

Publisher |-> Detroit Blog

*/
/* Header Style */
/* Page Layouts */
/* About Us */
@media all and (min-width: 780px) {
  .ltr .main-section > .content-column,
  .ltr .main-section > .sidebar-column,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky > .bs-vc-column {
    position: relative; }
  .ltr .main-section > .content-column:before,
  .ltr .main-section > .sidebar-column:before,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column:before,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky > .bs-vc-column:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ebebeb;
    width: 1px; }
  .ltr .main-section > .content-column:last-child:before,
  .ltr .main-section > .sidebar-column:last-child:before,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column:last-child:before,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky:last-child > .bs-vc-column:before {
    display: none; }
  .ltr .vc_row-has-fill + .vc_row-full-width + .vc_row > .bs-vc-wrapper > .bs-vc-column:before {
    top: 30px; }
  .ltr .vc_row-has-fill + .vc_row-full-width + .vc_row > .bs-vc-wrapper > .bs-vc-column > .bs-vc-wrapper,
  .ltr .vc_row-has-fill + .vc_row-full-width + .vc_row > .bs-vc-wrapper > .wrapper-sticky > .bs-vc-column > .bs-vc-wrapper {
    padding-top: 30px !important; }
  .ltr .main-section > .content-column:before,
  .ltr .main-section > .sidebar-column:before,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column:before,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky > .bs-vc-column:before {
    bottom: 30px; }
  .ltr .main-section > .content-column,
  .ltr .main-section > .sidebar-column,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky > .bs-vc-column {
    padding: 0 30px;
    border: none; }
  .ltr .slider-container > .content-wrap > .container > .row > .col-sm-12,
  .ltr .main-section > .content-column:first-child,
  .ltr .main-section > .sidebar-column:first-child,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column:first-child,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky:first-child > .bs-vc-column {
    padding-left: 15px; }
  .ltr .main-section > .content-column:last-child,
  .ltr .main-section > .sidebar-column:last-child,
  .ltr .vc_row > .bs-vc-wrapper > .bs-vc-column:last-child,
  .ltr .vc_row > .bs-vc-wrapper > .wrapper-sticky:last-child > .bs-vc-column {
    padding-right: 15px; }
  .rtl .main-section > .content-column,
  .rtl .main-section > .sidebar-column,
  .rtl .vc_row > .bs-vc-wrapper > .bs-vc-column {
    border-right: #ebebeb !important; }
  .rtl .main-section > .content-column:last-child,
  .rtl .main-section > .sidebar-column:last-child,
  .rtl .vc_row > .bs-vc-wrapper > .bs-vc-column:last-child {
    border-right: none !important; } }

.post-template-1 .single-container > .post,
.post-template-10 .single-container > .post {
  border: none;
  padding: 0; }

.vc_row[data-vc-full-width="true"] .bs-vc-block,
.vc_row[data-vc-full-width="true"] .entry-content .better-studio-shortcode,
.vc_row[data-vc-full-width="true"] .bs-shortcode,
.vc_row[data-vc-full-width="true"] .bs-listing {
  background: transparent;
  padding: 0; }

.topbar {
  height: 46px !important; }
  .topbar .topbar-inner {
    padding: 0 !important; }
  .topbar.topbar-style-1 .section-menu {
    height: 46px !important;
    position: relative; }
  .topbar .better-social-counter .social-list {
    line-height: 43px !important;
    height: 46px !important; }
  .topbar .topbar-sign-in.topbar-sign-in.topbar-sign-in {
    height: 46px;
    line-height: 46px !important; }
  .topbar ul.menu.top-menu li.menu-item-has-children > a:after,
  .topbar .top-menu > li {
    line-height: 46px !important; }
  .topbar .topbar-date {
    height: 46px;
    line-height: 42px !important;
    top: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a:before {
  display: none; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a {
  background-color: rgba(255, 255, 255, 0.15) !important; }

.site-header.site-header.header-style-2 .main-menu > li > a {
  padding: 0 16px;
  z-index: 0; }

.site-header.header-style-2 .main-menu-wrapper .main-menu-inner {
  height: 43px !important; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 43px; }

.site-header.header-style-2 .search-container .search-box .search-form .search-field {
  height: 43px; }

.site-header.header-style-2 .main-menu.menu {
  height: 66px; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 43px; }

.site-header.header-style-2.site-header .shop-cart-container .cart-handler
.site-header.header-style-2 .search-container .search-handler {
  line-height: 23px; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 43px; }

.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper {
  border-width: 0 !important; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 40px; }

.ltr .bs-shortcode.bs-about > * {
  text-align: left; }

.rtl .bs-shortcode.bs-about > * {
  text-align: right; }

.bs-about .about-icons-list .about-icon-item a {
  width: 30px;
  height: 30px; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  line-height: 30px; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  font-size: 13px; }

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.site-footer .footer-widgets,
.off-canvas-menu > ul > li > a,
.pagination.bs-links-pagination,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.site-header .topbar .topbar-inner,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.footer-widgets .widget_nav_menu ul.menu li a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

/* Section Heading */
.section-heading.sh-t3:after {
  background-color: rgba(0, 0, 0, 0.05);
  bottom: -2px;
  height: 6px; }

.section-heading.sh-t1:after {
  height: 6px;
  margin-top: -3.5px; }

/* Popular categories */
.bs-popular-categories .bs-popular-terms-list {
  padding: 0; }

/* Pagination */
.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination {
  line-height: 44px !important;
  width: 100%;
  border-color: #000000; }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination:hover span {
    color: #ffffff; }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination.bs-pagination-in-loading span {
    color: #FFFFFF; }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination.disabled:hover {
    border-color: #000000; }
    .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination.disabled:hover span {
      color: #000000; }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination span {
    color: #000000; }

/* Newsletter */
.bs-newsletter-pack.bsnp-t1.bsnp-s4,
.bs-newsletter-pack.bsnp-t1.bsnp-s3 {
  box-shadow: none; }

/* Footer Style */
.site-footer .footer-widgets.light-text .section-heading.sh-t3:after {
  background: rgba(255, 255, 255, 0.1);
  height: 6px;
  bottom: -5px; }

.site-footer .footer-widgets {
  padding-top: 60px; }
  .site-footer .footer-widgets .content-wrap {
    position: relative; }
    .site-footer .footer-widgets .content-wrap:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -20px;
      background-color: rgba(255, 255, 255, 0.15); }

.site-footer .footer-widgets.light-text .widget .item-inner:hover a {
  color: #ffffff !important; }

.site-footer .footer-widgets.light-text .widget .bs-about .about-icons-list .about-icon-item a {
  border-radius: 100%;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1); }

.site-footer .copy-footer {
  padding-bottom: 30px; }

.site-footer .widget.widget_nav_menu ul.menu {
  font-size: 0; }
  .site-footer .widget.widget_nav_menu ul.menu li {
    font-size: 14px;
    display: inline-block;
    width: 50%; }
    .site-footer .widget.widget_nav_menu ul.menu li a {
      border: none;
      padding: 0;
      margin-bottom: 5px;
      color: #cdcdcd;
      font-size: 14px; }
      .site-footer .widget.widget_nav_menu ul.menu li a:hover {
        color: #ffffff; }
      .site-footer .widget.widget_nav_menu ul.menu li a:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #ffffff;
        display: inline-block; }

.site-footer .copy-2 a:hover,
.site-footer .copy-1 a:hover {
  color: #ffffff; }
